
.container-breadcrumb{
    // margin-top: 100px;
    // max-width: 1000px;
    margin-left: 20px !important;
    padding: 0% !important;
    background-color: #dddddd !important;
}


.breadcrumb>li+li:before {
    content: ">>" !important;
}

.breadcrumb {
    // padding: 19px;
    font-size: 14px;
    color: #aaa !important;
    letter-spacing: 2px;
    border-radius: 5px !important;
    background-color: #dddddd !important;
}

.first ol {
    border-top-right-radius: 200px !important;
    border-bottom-right-radius: 200px !important;
}

.first-1 {
    // background-color: white !important;
}

.first-1{
    // color: #aaa !important;
    transform: translateY(2px);
}


a {
    text-decoration: none !important;
    color: #aaa !important;
}

a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}

img {
    vertical-align: bottom;
    opacity: 0.5;
}

.first span {
    color: black;
}

.first a:hover {
    color: black !important;
}

.active-1 span:hover {
    color: white !important;
}

.active-1 {
    font-size: 10px !important;
    padding-bottom: 9px !important;
    padding-top: 9px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 200px !important;
    background-color: #cc9966 !important;
}