$odd-row-color: #f2f2f2;

.manage-color-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-left: 20px;
}

.manage-color-search {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 32px;
    height: 200px;
    border-radius: 5px;
}

.manage-color-table {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 560px;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #cc9966;
        font-weight: bold;
    }

    tbody tr {
        &:hover {
            background-color: rgba(207, 182, 156, 0.199);
        }

        &:nth-child(odd) {
            background-color: $odd-row-color;
        }
    }
}

.search-color-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-color-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

button {
    width: 180px;
}

form {
    // padding-left: 200px;
}


