.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            // width: 40vh !important;
        }
    }

    .admin-content {
        width: 100%;
        .admin-header {
            height: 40px;
            border: 1px solid red;
        }

        .admin-main {
            border: 1px solid red;
        }
    }
}