.manage-order-detail {

  .time-line-order-detail {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    height: 200px;
    border-radius: 5px;
    height: 300px;

    .order-detail-button-cancel {
      position: absolute;
      top: 245px;
      left: 144px;
    }

    .order-detail-button-history {
      position: absolute;
      top: 245px;
      right: 40px;
    }

    .order-detail-button-timeline {
      position: absolute;
      top: 245px;
      width: 120px !important;
    }
  }

  .detail-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .order-detail-information {
    max-width: 1600px;
    padding-bottom: 20px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .order-detail-information-title {
      padding-top: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .information-order {
      .table-order-detail{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        margin-top: 30px;  
      }
      .information-order-detail {
        
        padding: 25px 25px 25px 60px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      .money-footer-title {
        padding-left: 50px;

      }

      .money-order-footer {
        text-align: right;
      }

      .information-order-header {
        display: flex;
      }

      border-radius: 5px;
      margin: 0 auto;
      max-width: 1100px;
      padding: 20px;

      .item-information-order {
        position: relative;

        div {
          position: absolute;
          left: 150px;
        }

        display: flex;
        padding: 10px;
      }

      .order-infor-detail {
        width: 500px;
      }
    }
  }

  .btn-confirm-order-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.table-order-history {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #cc9966;
    font-weight: bold;
  }

  tbody tr {
    &:hover {
      background-color: rgba(207, 182, 156, 0.199);
    }
  }
}

.product-item-order-detail {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.price-col-order-detail {
  text-align: right;
}

.price-col-order-detail2 {
  padding-right: 120px;
  text-align: right;
}