.rdt_Table{
    border-radius: 10px;
}

.rdt_TableRow{
    border-radius: 10px;
}
.rdt_TableCol{
    border-radius: 10px;
}
.rdt_TableCol_Sortable{
    border-radius: 10px;
}

.rdt_TableCell{
    border-radius: 10px;

}
.rdt_TableHeader{
    border-radius: 10px;

}
.rdt_TableFooter{
    border-radius: 10px;

}

.rdt_TableHead{
    border-radius: 10px;

}

.rdt_TableHeadRow{
    border-radius: 10px;

}
.rdt_TableBody{
    border-radius: 10px;

}
.rdt_ExpanderRow{
    border-radius: 10px;
    
}

.table-container{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    min-height: 415px;
}