#image-shop{
    width: 150px;
    height: 130px;   
}

#user-avatar{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-bar-search{
    width: 50%;

    .nav-bar-search-input{
        width: 100%;
    }

}


// #image-shop:hover{
//     width: 160px;
//     height: 140px;
//     transition: 0.5s;
// }

