#text-id-ONLINE {
    color: #cc9966;
    font-weight: bold;
    border: #e8be95 solid 3px;
    text-align: center;
    border-radius: 5px;
    background-color: #e7e3d9;
}

#text-id-OFFLINE {
    color: #abe153;
    font-weight: bold;
    border: rgb(178, 237, 126) solid 3px;
    text-align: center;
    border-radius: 5px;
    background-color: #e0e7d9;
}