.container {
    box-shadow: none;
}

.active {

    >.page-link,
    .page-link.active {
        z-index: 3;
        color: white;
        background-color: black;
        border-color: black;
    }
}

.page-link {
    color: black;

    &:hover {
        color: black;
    }
}

.detail-customer{
    // margin-top: 20px;
    // margin-left: 20px;
    // margin-right: 20px;
    // margin-bottom: 20px;
    // padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.manager-customer-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}