.rdt_Table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: .25rem;
    color: #212529;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.rdt_TableRow {
    border-bottom: 1px solid #ddd;
    transition: all .3s ease;
}

.rdt_TableCol {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.rdt_TableCol_Sortable {
    cursor: pointer;
}

.rdt_TableCell {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.rdt_TableHeader {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.rdt_TableFooter {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.rdt_TableHead {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.rdt_TableHeadRow {
    border-bottom: 1px solid #ddd;
}

.rdt_TableBody {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

.rdt_ExpanderRow {
    background-color: #f9f9f9;
}
