* {
    margin: 0;
    padding: 0;

}

.sales-at-the-counter-manage {
    // .row_form {
    //     margin-top: 10px;

    //     .col_form_address {
    //         margin-top: 10px;

    //     }
    // }

    // .form_information_customer{ 
    //     padding: 30px;
    //     border: 2px solid #ccc;
    //     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    //     border-radius: 10px;
    // }

    .padding-all {
        padding: 30px;
        border: 2px solid #ccc;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
    }
}